<nlog>
  <targets>
    <target name="console" type="Console" />
    <target name="file" type="File" fileName="${basedir}/zk_debug.txt" lineEnding="LF" />
  </targets>
  <rules>
    <logger name="*" levels="Info,Warn,Error" writeTo="console" />
    <logger name="*" levels="Trace,Debug,Info,Warn,Error" writeTo="file" keepFileOpen="true" />
  </rules>
</nlog>
